# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

strategy:
  matrix:
    Python37:
      python.version: '3.7'
    Python310:
      python.version: '3.10'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install --upgrade setuptools wheel coverage mypy twine pylint flake8
  displayName: 'Install dependencies'

- script: |
    ./utils/countlines
    flake8 --version
    flake8 irbis/ --ignore=E261,E302,E501,W503,W504
    mypy --version
    mypy irbis/
    pylint --version
    pylint irbis/
  displayName: 'Lint'

- script: |
    PYTHONPATH=$(pwd) coverage run tests/offline_tests.py
    coverage report
    coverage html
  displayName: 'Test'
